html {

      font-size: 10px;

}


body{

    font-family: Montserrat, Ariel, Helvetica, sans-serif;
    font-size: 1.6rem;
    overflow: hidden;


}

.layout__video{
    width: 100%;
    height: 100%;

}


.layout__content{
      position: absolute;
      left: 50%;
      top: 50%;
}


.content__title{
      font-size: 8rem;
      text-shadow: 0 0 1rem red;
      padding: 2rem;
      margin-bottom: 1rem;
}






.content__btn{
      display: inline-block;




}






